html {
    /* box-sizing: border-box;  */
}
*, *:before, *:after {
    box-sizing: inherit;
    color: black;
    /* justify-content: inherit;
    justify-items: inherit;
    text-align: center; */
}

/* new google landing page
glass boxes
sea glass */
