html {
    box-sizing: border-box; 
}
*, *:before, *:after {
    box-sizing: inherit;
    color: rgba(13, 199, 165, 0.747);
    /* justify-content: inherit;
    color: #0DC7A6;
    justify-items: inherit;
    */
    text-align: center; 
}
p, a{
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
img{
    border: 6px solid rgba(13, 199, 165, 0.747);

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
i{
    margin: 10px;
    position: relative;
    top: 10px;
}
body {
    margin:  0;
    background: repeating-linear-gradient(
  to right,
  #56305C,
  #56305C 5px,
  rgb(105, 53, 112) 5px,
  rgb(105, 53, 112) 10px
  /* #73417A 5px,
  #73417A 10px */
  
);  
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 900;
    
    
    
    
}
#container{
        
}
#bio {
    
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 150px 65px 100px 100px 450px 200px 1fr;
    grid-template-areas:
        " photo who " 
        " photo what " 
        " photo where "
        " photo tech "
        " a-text a-img " 
        " about about " 
        " qs qs" ;
    justify-content: center;
}
#photo {
    grid-area: photo;
    place-self: center;
}
#headshot {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
}
#who {
    grid-area: who;
    align-self: end;
}
#who p{
    margin:0;
    font-size: 100px;
}
#what {
    align-self: start;
    grid-area: what;
}
#what p{
    margin:0;
    font-size: 45px;
    line-height: 40px;
    font-weight: 400;
}
#where {
    grid-area: where;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}
#tech {
    grid-area: tech;
}
#tech p{
    align-self: start;
    font-size: 32px;
    margin:0;
    font-weight: 600;
    background-color: rgba(115, 65, 122, 0.629);
    border-radius: 10px;
}
#app-text{
    grid-area: a-text;
    background-color: rgba(115, 65, 122, 0.629);
    border-radius: 10px;
    align-self: center;
}
#app-title{
    font-size: 45px;
    margin: 0;
}
#app-info{
    font-size: 24px;
    font-weight: 600;
    margin-top: 0px;
    
}
#app-img{
    grid-area: a-img;
    height: 400px;
    align-self: center;
    justify-self: end;
    
}
#about {
    grid-area: about;
}
#about p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    color: rgba(13, 199, 165, 0.79);
}
#qs {
    grid-area: qs;
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 100px 250px 250px;
    grid-template-areas:
        " Q1 A1 " 
        " Q2 A2 " 
        " Q3 A3 " ;
}

#Q1 {    
    grid-area: Q1;
}
#A1 {    
    grid-area: A1;
    
}
#Q2 {    
    grid-area: Q2;
    
}
#A2 {    
    grid-area: A2;
    
}
#Q3 {    
    grid-area: Q3;
    
}
#A3 {    
    grid-area: A3;

}
#Q3, #Q2, #Q1{
    font-size:32px;
    text-align: right;
    padding-right: 50px;
}
#A3, #A2, #A1{
    font-size:28px;
    text-align: left;
    font-weight: 400;
}
#qs {
    text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgba(115, 65, 122, 0.629);
    border-radius: 10px;

}

@media (min-width: 768px) {
    #headshot {
        height: 300px;
        width: 300px;
        place-self: center;
    }
    i{
        position: relative;
        top: 5px;
    }
    
    #bio {
        grid-template-columns: 350px 410px;
        grid-template-rows: 100px 45px 70px 120px 350px 200px 1fr;
    }
    #who p{
        font-size: 45px;
    }
    #what p{
        font-size: 26px;
    }
    #where {
        font-size: 25px;
    }
    #app-text{
        width: 300px;
        justify-self: center;
    }
    #app-title{
        font-size: 40px;
    }
    #app-info{
        font-size: 18px;
        font-weight: 400;
        
    }
    #app-img{
        height: 200px;
        justify-self: center;
    }
    #about p {
        font-size: 40px;
    }
    #tech p{
        font-size: 24px;
    }
    #qs {
        grid-template-columns: 320px 440px;
        grid-template-rows: 150px 305px 365px;
    }

    #Q3, #Q2, #Q1{
        font-size:28px;
        padding-right: 30px;
    }
    #A3, #A2, #A1{
        font-size:24px;
        }
}
@media (min-width: 1024px) {
    #headshot {
        height: 320px;
        width: 320px;
        place-self: center;
    }
    
    #bio {
        grid-template-columns: 324px 690px;
        grid-template-rows: 125px 65px 90px 100px 350px 200px 1fr;
    }
    #who p{
        font-size: 70px;
    }
    #where {
        font-size: 40px;
    }
    #app-text{
        width: 300px;
        justify-self: center;
    }
    #app-title{
        font-size: 40px;
    }
    #app-info{
        font-size: 18px;
        font-weight: 400;
        
    }
    #app-img{
        height: 300px;
        justify-self: center;
    }
    #tech p{
        font-size: 24px;
    }
    #qs {
        grid-template-columns: 324px 690px;
        grid-template-rows: 125px 225px 250px;
    }

    #Q3, #Q2, #Q1{
        font-size:28px;
        padding-right: 50px;
    }
    #A3, #A2, #A1{
        font-size:24px;
        }
}
    
@media (min-width: 1400px) {
    #bio {
        grid-template-columns: 450px 950px;
        grid-template-rows: 200px 65px 100px 150px 450px 200px 1fr;
    }
    #headshot {
        height: 450px;
        width: 450px;
        place-self: center;
    }
    i{
        margin: 10px;
        position: relative;
        top: 10px;
    }
    
    #who p{
        font-size: 100px;
    }
    #what p{
        margin:0;
        font-size: 45px;
    }
    #where {
        font-size: 50px;
    }
    #app-text{
        width: 400px;

    }
    #app-img{
        height: 400px;
    }
    #app-info{
        font-size: 24px;
    }
    #about p {
        font-size: 50px;
    }

    #tech p{
        font-size: 32px;
    }
    #qs {
        grid-template-columns: 400px 900px;
        grid-template-rows: 100px 250px 250px;
    }

    #Q3, #Q2, #Q1{
        font-size:32px;
        padding-right: 50px;
    }
    #A3, #A2, #A1{
        font-size:28px;
        }
}
    

/* new google landing page
glass boxes
sea glass */
